h1{
    text-align: center;
    color: rgb(134, 129, 128);

}
.items{
    background-color: rgb(183, 189, 189);
    width: 250px;
    height: 300px;
    text-align: center;
    margin: 0 auto;
}
.form-items{
    width: 800px;
    height: 500px;
    margin: 0 auto;
}
img{
    width: 230px;
    height: 400x;
}
.cart{
text-align: center;
margin: 0 auto;
}
